body {
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.catalog {
    width: 870px;
    height: 250px; 
    background-color: lightblue;
}

.product {
    float: left;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px double orange;
    margin: 40px 0px 40px 80px;
    background-color: bisque;
}

.principles {
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    margin: 30px 60px 30px 30px; 
    height: 150px;
    padding: 30px;
    text-align: center;
}

.principle {
    float: left;
    width: 120px;
    margin-left: 100px;
}
